.component {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
}

.items {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.switchers {
  position: absolute;
  bottom: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
  }
}
