.component {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  white-space: nowrap;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }
}
