.app_dark_theme {
  --bg-color: #00005b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #098f09;
  --secondary-color: #02f502;

  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0449e0;
}
