.app_green_theme {
  --bg-color: #f4fbf8;
  --inverted-bg-color: #5dd49c;

  --primary-color: #45cc3e;
  --secondary-color: #f4fbf8;

  --inverted-primary-color: #f4fbf8;
  --inverted-secondary-color: #5dd49c;
}
