body.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #2121c5;

  --primary-color: #0232c2;
  --secondary-color: #0449e0;

  --inverted-primary-color: #098f09;
  --inverted-secondary-color: #02f502;
}
